:root {
    --primary1: #2c9191;
    --primary2: #4ac4c4;
    --primary3: #c7dfdf;
    --primary4: #ddf3f3;

    --secondary1: #465050;
    --secondary2: #797c7c;
    --secondary3: #a0a3a3;
    --secondary4: #f5f7f7;

    --white: #ffffff;
    --shadow1: #b9c3c6;

    --success1: #27a881;
    --success2: #186a51;
    --warning1: #d6dc2d;
    --warning2: #747804;
    --error1: #972d1d;
    --error2: #721818;
    --info1: #7c7c79;
    --info2: #2f2f2e;
}
/* :root {
    --primary1: #51912c;
    --primary2: #4ac454;
    --primary3: #c7dfc8;
    --primary4: #ddf3df;

    --secondary1: #465050;
    --secondary2: #797c7c;
    --secondary3: #a0a3a3;
    --secondary4: #f5f7f7;
    
    --white: #ffffff;
    --shadow1: #b9c3c6;

    --success1: #27a881;
    --success2: #186a51;
    --warning1: #d6dc2d;
    --warning2: #747804;
    --error1: #972d1d;
    --error2: #721818;
    --info1: #7c7c79;
    --info2: #2f2f2e;
} */

/* ------------------------------------------------------------------------------------- general */
.the-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.the-center-right {
    float: right;
    /* position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%); */
}

.the-center-left {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
}

.the-trailing {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s ease;
    height: 50px;
    width: 50px;
    right: 10px;

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transition {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.the-row {
    /* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
    /* max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 8%));
    grid-gap: 2px;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid; */
    /* https://css-tricks.com/almanac/properties/f/flex-wrap/ */
    width: 100%;
    height: 100%;
    display: flex;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-gap: 20px;
    flex-wrap: wrap;
}

.the-column {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2px;
}

.the-listtile {
    grid-template-rows: auto;
    /* margin: 5px; */
    display: flex;
    align-items: center;
    padding: 10px;
    width: auto;
    position: relative;
}

.the-listtile-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.the-listtile-body {
    margin-right: 10px;
    display: grid;
    grid-template-rows: auto;
}

.the-listtile-title {
    margin-right: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    grid-template-rows: auto;
    font-weight: 900;
}

.the-listtile-description {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.the-listtile-close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 3px;
}

/* -------------------------------------------------------------------------- icon */
.the-icon {
    height: 35px;
    width: 35px;
    margin: 7px;
    /* margin-left: 5px;
    margin-right: 5px; */
    justify-content: center;
    /* h center*/
    align-items: center;
    /** v center*/
    display: flex;
    background-color: var(--white);
    box-shadow: 5px 5px 15px var(--shadow1);
    border-radius: 10px;
    /* margin: auto; */
}

/* ------------------------------------------------------------------------- raised button */
.the-button-raised {
    height: 35px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    /* h center*/
    align-items: center;
    /** v center*/
    display: flex;
    background-color: var(--white);
    box-shadow: 5px 5px 15px var(--shadow1);
    border-radius: 10px;
    cursor: pointer;
}

.the-button-raised-primary {
    height: 35px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    /* h center*/
    align-items: center;
    /** v center*/
    display: flex;
    /* background-color: #a3c4c4; */
    background-color: var(--primary1);
    box-shadow: 5px 5px 15px var(--shadow1);
    border-radius: 10px;
    cursor: pointer;
    color: var(--white)
}

.the-button-raised-primary:hover,
.the-button-flat-primary:hover {
    color: #687272;

    background-color: var(--primary2);
}

.the-button-raised:hover,
.the-button-flat:hover {
    /* color: #c3c3c3; */
    background-color: var(--primary2);
}

/* ------------------------------------------------------------------------- flat button */
.the-button-flat {
    height: 35px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    /* h center*/
    align-items: center;
    /** v center*/
    display: flex;
    background-color: var(--white);
    /* box-shadow: 5px 5px 15px var(--shadow1); */
    border-radius: 10px;
    cursor: pointer;
}

.the-button-flat-primary {
    height: 35px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    /* h center*/
    align-items: center;
    /** v center*/
    display: flex;
    background-color: var(--primary1);
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
}

/* .rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
} */

/* @keyframes collapsible-extend-animate {
    from {
        transform: translateX(100%);
        opacity: 0;
        height: 0px;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        height: auto;
    }
} */

/* ---------------------------------- collapsible */
.the-menu-collapsible {
    grid-template-columns: auto;
    height: auto;
}

.the-menu-collapsible-parent {
    cursor: pointer;
    height: 50px;
    width: 100%;
    /* display: grid; */
    position: relative;
    /* grid-template-columns: auto; */
}

.the-menu-collapsible-list {
    /* opacity: 0; */
    overflow: hidden;
    grid-template-columns: auto;

    /*  remove ul li basic effect */
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    /*  end remove ul li basic effect */

    height: auto;

    box-shadow: 5px 5px 15px --shadow1;
    border-radius: 8px;
}

.the-menu-collapsible-item {

    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;

    height: 0px;
    width: auto;

    color: #252f2f;
    cursor: pointer;

    display: flex;
    grid-template-rows: auto auto;
    grid-gap: 0;

    border-radius: 8px;
    margin-right: 10px;
    margin-left: 25%;
    opacity: 0;
    padding: 0px;
}

.the-menu-collapsible-list.show>.the-menu-collapsible-item {
    height: 30px;
    transition: height 0.3s linear, opacity 0.4s linear;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    opacity: 1;
    padding: 8px;
}

.the-menu-collapsible-list.hide>.the-menu-collapsible-item {
    height: 0px;
    transition: all 0.2s linear, height 0.4s linear, opacity 0.08s linear;
    opacity: 0;

}


.the-menu-collapsible-item:hover {
    /* background-color: var(--primary3); */
    box-shadow: 5px 5px 15px var(--shadow1);
}

.the-menu-collapsible-item.active {
    background-color: var(--white);
    box-shadow: 5px 5px 15px var(--shadow1);
    font-weight: 800;
}

/* ---------------------------------- end collapsible */



body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px --primary2;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary1);
    /* outline: 1px solid var(--primary2); */
}

/* ------------------------------------------------------------------------------------- sidebar */
#the-sidebar {

    height: 100%;
    width: 250px;

    background-color: var(--primary1);
    /* background-color: #ffffff; */
    /* background-image: linear-gradient(#f0f3f3, #ccdede, #f0f3f3); */
    /* background-image: linear-gradient(#f0f3f3, #f0f3f3, #f0f3f3); */
    display: block;
    position: fixed;

    border-top-right-radius: 5px;
    box-shadow: 5px 5px 15px var(--shadow1);
    transition: all .5s ease;


}

/* ------------------ show hide */
.the-sidebar-hide {
    transform: translate(-250px, 0);
    box-shadow: none !important;
}

.the-sidebar-show {
    transform: translate(0px, 0);
}

/* ------------------  */

#the-sidebar-brand {
    height: 56px;
    /* background-color: #dee5e5; */
    /* background-color: #f5f7f7; */
    background-color: var(--secondary4);
    display: block;
    position: relative;
}

#the-sidebar-close {
    height: 40px;
    width: 40px;
    color: black;
    top: auto;
    left: auto;
    right: 0;
    position: absolute;
    cursor: pointer;
}

#the-sidebar-close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------- side bar menu  */
.the-sidebar-menu-list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;

    height: 100%;
    /* width: 250px; */
    overflow-y: scroll;
    overflow-x: hidden;
    /* display: grid; */
    grid-template-columns: auto;
    /* grid-gap: 0; */
    background-color: var(--secondary4);
    margin-bottom: 50px;
}

.the-sidebar-menu-item {
    list-style-type: none;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    display: flex;
    grid-template-rows: auto auto;
    grid-gap: 0;
    align-items: center;

    font-weight: 100;

}

.the-sidebar-menu-item:hover {
    box-shadow: 1px 1px 20px var(--shadow1);
    border-radius: 8px;
}

.the-sidebar-menu-item.active {
    background-color: var(--white);
    box-shadow: 5px 5px 15px var(--shadow1);
    border-radius: 8px;
    font-weight: 800;
}


.the-sidebar-menu-item.active>.the-icon {
    /* background-color: #249797; */
    background-color: var(--primary1);
    box-shadow: 1px 1px 5px var(--shadow1);
    color: var(--white);
}

.the-sidebar-menu-item.active>.the-icon>div {
    background-color: var(--white);
    color: var(--white);
}

.the-sidebar-menu-item>.the-icon {
    background-color: var(--white);
    box-shadow: 1px 1px 5px var(--shadow1);
    color: var(--secondary1);
}




/* ------------------------------------------------------------------------------------- body  */

#the-body {
    background-color: var(--secondary4);
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ------------------------------------------------------------------------------------- top nav  */

.the-topnav {
    height: 56px;
    width: 100%;
    background-color: var(--primary1);
    /* background-image: linear-gradient(to bottom, #b0d0d0, #a3c4c4); */
    box-shadow: 5px 5px 15px var(--shadow1);
    display: flex;
    position: absolute;
    grid-template-columns: auto;
    flex-wrap: wrap;
}

.the-topnav-header {
    display: block;
    position: absolute;
    height: 56px;
    width: 56px;
    left: 0;
    cursor: pointer;
}

.the-topnav-right {
    right: 0;
    width: 50%;
    height: 100%;
    /* background-color: azure; */
    display: inline-block;
    position: absolute;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto; */
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: auto auto; */
    /* grid-gap: 10px; */


    /*  remove ul li basic effect */
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    /*  end remove ul li basic effect */
}

.the-topnav-item {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.the-topnav-menu-icon {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}




#the-topnav-menu {
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* left: 0;
    top: 0; */
    padding-top: 40px;
    /* background-color: rgb(0,0,0);  */
    background-color: rgba(0, 0, 0, 0.01);
    overflow-x: hidden;
}

.the-topnav-menu-list {
    height: auto;
    width: auto;
    /* position: relative; */
    background-color: var(--white);
    transition: all .5s ease;
    box-shadow: 5px 5px 15px rgb(185, 195, 198);
    /* border-top-right-radius: 5px; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    display: grid;
    padding-bottom: 10px;
    padding-top: 10px;
}

#the-topnav-menu-list::before {
    /* // layout */
    content: '';
    position: absolute;
    /* width: 0; */
    /* height: 100px; */
    bottom: 99%;
    right: 1px;
    /* // offset should move with padding of parent */
    border: 8px solid transparent;
    border-top: none;

    /* // looks */
    border-bottom-color: var(--white);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.the-topnav-menu-item {
    height: 20px;
    width: auto;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 8px;
    color: inherit;
    text-decoration: inherit;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* grid-template-columns: auto; */


}


.the-topnav-menu-item:hover {
    background-color: var(--secondary4);
    color: var(--primary1);
}

.the-topnav-menu-item>.the-icon {
    margin-left: 0;
    box-shadow: none;
    background-color: var(--primary1);
}

.the-topnav-menu-item>.the-icon>div {
    margin-left: 0;
    box-shadow: none;
    background-color: var(--white);
}


/* ------------------------------------------------------------------------------------- content*/

#the-content {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}