/* modal, alert dialog, splash */

/* https://css-tricks.com/making-css-animations-feel-natural/ */


@keyframes frame-animate-scale-1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.05, 1.05) translateY(0);
    }

    30% {
        transform: scale(1.1, 1.1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes frame-animate-bounce-4 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-20px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes frame-animate-bounce-5 {
    0% {

        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);

    }

    30% {
        transform: scale(.9, 1.1) translateY(-20px);

    }

    50% {
        transform: scale(1, 1) translateY(0);

    }

    57% {
        transform: scale(1, 1) translateY(-7px);

    }

    64% {
        transform: scale(1, 1) translateY(0);

    }

    100% {
        transform: scale(1, 1) translateY(0);

    }
}

@keyframes frame-animate-shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.the-animate-scale-1 {
    animation-name: frame-animate-scale-1;
    animation-timing-function: ease;
}


.the-animate-bounce-4 {
    animation-name: frame-animate-bounce-4;
    animation-timing-function: ease;
}

.the-animate-bounce-5 {
    animation-name: frame-animate-bounce-5;
    animation-timing-function: ease;
}
.the-animate-shake {
    animation-name: frame-animate-shake;
    animation-timing-function: ease;
}

/* ------------------------------------------------------------------------------------- modal */
.the-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/ opacity */
}

.the-modal.show {
    display: block;
}

.the-modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    box-shadow: 5px 5px 15px #5d5e5e;
    border-radius: 10px;
    width: 0%;
    height: 0%;
    grid-template-columns: auto;
}

@keyframes animate-modal {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: 85%;
        height: 85%;
    }
}

.the-modal.show>.the-modal-content {
    width: 85%;
    height: 85%;
    animation: frame-animate-scale-1 0.4s linear;
}


.the-modal-header {
    height: 56px;
    background-color: #d6dde3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* box-shadow: 4px 2px 10px #c3c0c0; */
}


.the-modal-body {
    padding: 20px;
}

.the-modal-close-button {
    float: right;
    height: 56px;
    width: 56px;
    display: flex;

    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/* -------------------------------------------------------------------------------------- toast */


#__the_toast_Container__ {

    max-width: 250px;
    overflow: hidden;
    height: auto;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    /* float: right; */
    z-index: 100;
    position: fixed;
    /* display: block; */

}

/* https://css-tricks.com/animation-techniques-for-adding-and-removing-items-from-a-stack/ */
/* https://usefulangle.com/post/377/css-animation-on-dom-insert */

.__the_toast__ {
    float: right;
    /* animation: append-animate .3s linear; */
    /* transition: all 1s ease-in-out; */

    transform: translateX(300px);
    transition: all 0.6s linear;
    opacity: 0;
    height: 0px;
    width: 0px;
    margin: 0px;

    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #9b9b9b;
    color: #717171;
    border-radius: 4px;

    align-items: center;
    /* padding-left: 10px; */
    border-top: none;

    /* display: grid;
    grid-template-rows: auto auto; */
}

.__the_toast__.show {
    height: 80px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    /* border-top: 10px solid #27a881; */
    border-top: 10px solid;
    border-color: #27a881;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease;
}

.__the_toast__.remove {
    transform: translateX(300px);
    transition: all 0.7s linear;
    opacity: 0;
    height: 0px;
    width: 0px;
}

.the_toast_progressbar {
    height: 7px;
    margin: 0px;
    width: 110%;
    /* margin-top: 30px; */
    /* border: solid 1px #000; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.the_toast_progressbar .inner {
    height: 100%;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #b2b2af;
    }

    100% {
        width: 0%;
        /* background: #F00; */
        background: #7c7c79;
    }
}

/* -------------------------------------------------------------------------------------- menu float */

.the-floating-menu {
    height: auto;
    width: auto;
    cursor: pointer;
}

.the-floating-menu-container {
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #4c494911;
    /* padding: 5px; */
}

.the-floating-menu-container.active {
    display: block;
    cursor: default
}

.the-floating-menu-content {
    /* opacity: 0; */
    display: block;
    /* height: 0px; */
    /* width: auto; */
    position: fixed;
    /* background-color: #27a881; */
}

@keyframes the-floating-animate-size {
    from {
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    to {
        opacity: 1;
        height: auto;
        width: auto;
    }
}

.the-floating-menu-container.active>.the-floating-menu-content.show {
    /* animation: the-floating-animate-size 0.4s ease; */
    animation-duration: 0.2s;
    /* transition: all 0.3s linear; */
    animation-name: frame-animate-scale-1;
    animation-timing-function: linear;
}

/* -------------------------------------------------------------------------------------- alert dialog */

#the-alert-container {
    height: 100%;
    width: 100%;
    background-color: #3e3e3d2e;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

.the-alert-content {
    min-width: 300px;
    min-height: 170px;
    box-shadow: 5px 5px 15px #5d5e5e;
    border-radius: 10px;
    margin: 20px;
    background-color: #ffffff;
    grid-template-rows: auto;
    display: grid;
    position: absolute;
    animation-duration: 0.4s;
}

.the-alert-content.align-center {
    align-items: center;
    justify-content: center;
}

.the-alert-content.top-right {
    position: absolute;
    top: 0%;
    right: 0%;
}

.the-alert-content.bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.the-alert-content.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
}

.the-alert-content.bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.the-alert-content.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.the-alert-title {
    font-weight: 800;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 2em;
}

.the-alert-message {
    font-weight: normal;
    margin: 8px;
    padding: 4px;
    /* margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px; */
    font-size: 1.2em;
}